body {background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    height: 100vh;
    font-weight: 500;
}

.container {display: flex;
flex-direction: row;
justify-content: center;
margin: 12% 27%;
max-width: 1440px;
}

.left {width: 100%;}

.right {background-color: white;
display: flex;
flex-direction: column;
padding: 3% 7% 1%;
margin-left: -5%;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;}

.Drawer {width: 100%;
    height: 100%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;}

h2 {color: hsl(217, 19%, 35%);}

.description {color: hsl(214, 17%, 51%);
margin: auto;}

.bottom {margin-top: auto;
display: flex;
align-items: center;}

.avatar {width:12%;
float: left;
border-radius: 50%;}

.name-text {margin-left: 10%; 
color: hsl(217, 19%, 35%);
    font-weight: 700;
    line-height: 1.8;}

.Share-icon {background: hsl(210, 46%, 95%);
    border: 10px solid;
    border-color: hsl(210, 46%, 95%);
border-radius: 50%;
width: 60%;}

.Share-icon-popup {background: hsl(212, 23%, 69%);
border-color: hsl(212, 23%, 69%);
}

/* Container */
.popup {
    position: relative;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 15px 0 15px 20px;
    position: absolute;
    z-index: 1;
    bottom: 165%;
    left: 50%;
    margin-left: -105px;
    display: flex;
    align-items: center;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    animation: fadeIn 1s;
  }

.Share-2 {display: none;}

.Text {letter-spacing: 6px;
    margin-right: 20px;}

.Facebook {margin-right: 10px;}
.Twitter {margin-right: 10px;}

footer {position: absolute;
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    bottom: 0;}
footer a { color: hsl(228, 45%, 44%);}

@media (max-width: 1440px){
    .container {margin: 12% 15% 6%;} 

    .Drawer {width: 100%;}

    .right {padding: 3% 4%;;}
}

@media (max-width:550px){
    .container {flex-wrap: wrap;
    margin: 17% 6%;}

    .Drawer {border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        width: 100%;
    }
    .right {border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        margin-left: 0;
        padding: 6% 6% 1%;}

    .avatar {width: 14%;}

    .bottom {margin-top: 10%;}

    .popup .popuptext::after { 
        visibility: hidden;}

    .popup .popuptext {
      margin-left: -279.5px;
      margin-bottom: -88px;
      width: 296px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding-bottom: 18.4px;
    }

    .Text {letter-spacing: 8px;
    margin-right: 31px;}

    .Facebook {margin-right: 10px;}
    .Twitter {margin-right: 10px;}

    .Share-2 {display: inline-block;
    margin-left: 16.8%;}

    footer {position: static;}
}
